.grid_container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 7fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer_top footer_top footer_top"
        "footer_bottom footer_bottom footer_bottom"
    
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

li {
    display: inline;
    padding: 10px;
}

.navbar {
    grid-area: header;  
}

.content {
    grid-area: content;
    justify-self: center;
}

.footer_top {
    grid-area: footer_top;
}

.footer_bottom {
    grid-area: footer_bottom;
}

.left_navbar {
    float: left;
    justify-self: left;
    margin-left: -20px
}

.right_navbar {
    float: right;
    justify-self: right;
    margin-right: 10px;
    font-size: 13px;
}