.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 7fr 0.45fr 0.45fr;
    grid-template-areas:
        "header"
        "content"
        "footer-top"
        "footer-bottom"
    
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
    margin: 0;
    color: #222;
}

li {
    display: inline;
    padding: 10px;
}

.navbar {
    grid-area: header;  
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top {
    grid-area: footer-top;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    border-bottom: 1px solid #dadce0
}

.footer-bottom {
    grid-area: footer-bottom;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
    font-size: 15px;
}

.left-navbar {
    float: left;
    justify-self: left;
    margin-left: -20px;
    margin-top: 10px;
    justify-content: center;

}

.right-navbar {
    float: right;
    justify-self: right;
    margin-right: 10px;
    font-size: 13px;
    margin-top: 10px;
}

.left-footer {
    margin-left: 15%
}

.right-footer {
    margin-left: 15%;
}

.footer-element {
    display: inline;
    margin: 0px 10px 0px 10px;
}

.button {
    margin: 5px;
    background-color: #f8f9fa;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 1px solid #f8f9fa;
}

.button:hover {
    border: 1px solid #dadce0;
}

.underline:hover {
    text-decoration: underline;
}

#canada {
    margin-left: 30px;
}

.relative-li {
    position: relative;
    padding: 10px 10px 10px 10px;
}

.nine-dots {
    height: 35px;
    width: 35px;
}

#svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24px;
    width: 24px;
    padding: 10px;
    border-radius: 25px;
}

#svg:hover {
    background-color: rgba(60,64,67,0.08)
}

#logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#logo-image:hover {
    box-shadow: 0px 0px 8px #999;
}

#empty-li1 {
    padding: 10px;
}

#empty-li2 {
    padding: 15px;
}

#empty-li3 {
    padding: 5px;
}

#google-image {
    margin-top: 150px;
    height: 92px;
    width: 272px;
}

#search-border {
    height: 44px;
    width: 500px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-border:hover{
    box-shadow: 0px 0px 10px #dfe1e5;
}

#search-box {
    height: 34px;
    width: 400px;
    border: none;
    outline: none;
    font-size: 15px;
}

#search-svg {
    height: 20px;
    width: 20px;
    fill: #9aa0a6;
    margin-left: 10px;
    margin-right: 10px;
}

#microphone-svg {
    height: 22px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#button-container {
    height: 50px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#offered-language {
    margin-top: 20px;
    font-size: 12px;
}

#Francais {
    text-decoration: none;
    color: #1a0dab;
}

#Francais:hover {
    text-decoration: underline;
}